@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/github.css';

@layer utilities {
  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
